@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none !important;
  width: 0px !important;
  background: transparent !important;
}

* {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #000000;
  color: #ececf1;
}